@import '~@fluentui/react/dist/sass/References.scss';

.inboundSubcontractorV2 {
  .border{
    border: 1px solid black;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 88%;
  }
  div.alignCenter {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .divrow{
    width:100%;
    display: flex;
  }
  .wdthlft{
    width: 50%;
    margin-left: 25px;
  }
  .wdthrgt{
    width: 50%;
  }
  .subSection {
    font-size: 17px;
    font-weight: bold;
    text-align: left;
    margin-top: 1em;
    margin-bottom: 1em;
    }
  .rgtalign{
    width: 100%;
    text-align: right;
  }
  .btn{
    margin-right: 10px;
 border-radius: 5px;
  border: 1px solid gray;
  margin-bottom: 5px;
}
.tableModal{
 border-collapse: collapse;
 margin-top: 13px
 }

}

